@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.unique-section-heading {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 700;
  margin: 3rem 0 2rem 1rem;
}
.unique-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}

.uniqueItem-parent {
  /* background-color: rgb(209, 207, 207); */
  background: linear-gradient(90deg, #0b3e27, #197149);
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  gap: 10px;
  width: 350px;
  margin: 0 auto;
  /* margin: 0 0 0 1rem; */
}

.unique-img-holder {
  /* margin: 0 auto; */
  width: 40%;
  height: 45vh;
  /* display: flex; */
}

.unique-img-holder > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.unique-infos {
  width: 60%;
  font-family: "Manrope", sans-serif;
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-row-gap: 15px;

  /* grid-auto-rows: 50px; */
  /* align-self: space-between; */
  /* grid-row-gap: 1em; */
  /* grid-template-rows: repeat(); */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: start; */
  /* justify-content: center; */
  /* gap: 25px; */
}

.unique-infos > h3 {
  /* font-optical-sizing: auto; */
  font-weight: 600;
  font-size: 18px;
  /* margin-bottom: 20px; */
}

.price-like {
  display: flex;
  gap: 20px;
}

.price-like > span {
  cursor: pointer;
}

.price-like > h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.unique-infos > h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.unique-infos > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  border-radius: 6px;
  border: none;
  background-color: #f0f0f0;
  color: #232f3e;
  font-size: 14px;
  /* background-color: #353433; */
  /* color: #f5f5f7; */
  gap: 2px;
  width: 100px;
}

.unique-infos > button:hover {
  background-color: #d6d5d5;
}

.uniqueCountdown {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1130px) {
  .unique-grid {
    grid-template-columns: repeat(3, 33%);
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 1098px) {
  .unique-grid {
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 920px) {
  .unique-grid {
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
    grid-row-gap: 6px;
  }

  .uniqueItem-parent {
    padding: 20px;
    width: 650px;
  }

  @media screen and (max-width: 690px){
    .uniqueItem-parent {
      width: 620px;
    }
  }

  @media screen and (max-width: 650px){
    .uniqueItem-parent {
      width: 600px;
    }
  }

  @media screen and (max-width: 620px){
    .uniqueItem-parent {
      width: 580px;
    }
  }

  @media screen and (max-width: 590px){
    .uniqueItem-parent {
      width: 550px;
    }
  }

  @media screen and (max-width: 560px){
    .uniqueItem-parent {
      width: 500px;
    }
  }
}
