.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #232f3e;
    border-radius: 5px;
    padding: 3px;
    width: 17rem;
  }
  
  input {
    border: none;
    outline: none;
    padding: 8px;
    flex: 1;
    border-radius: 5px 0 0 5px;
  }
  
  .search-icon {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
  }