@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");

.navbar {
  background: linear-gradient(90deg, #0b3e27, #197149);
  display: flex;
  align-items: center;
  padding: 8px 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #232f3e;
}

@keyframes rotateInCircle {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.logo-icon {
  perspective: 1000px;
  display: flex;
  gap: 6px;
}

.logo {
  display: inline-block;
  transition: transform 0.5s;
  animation: rotateInCircle 3s linear;
}

.flipped {
  transform: rotateY(180deg);
}

.logo-icon > span {
  font-family: "Tektur", sans-serif;
  font-size: 23px;
  font-weight: 500;
  /* color: #691e1e; */
  /* color: #a0937a; */
  /* color: #acacac; */
  /* color: rgb(113, 158, 174); */
color:  rgb(139 166 177 / 1);
}
