@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");


.space {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 16px;
}

.navFlex {
  perspective: 1000px;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Manrope", sans-serif; */
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  /* font-size: 15px; */
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}

#heart{
  display: inline-block;
  transition: transform 0.5s;
}

#heart:hover {
  color: red;
  transform: rotateY(180deg);
}

.navFlex > span {
  position: relative;
  text-decoration: none;
}

.navFlexLiked {
  cursor: pointer;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;;
  color: #FFFFFF;
  display: flex;
  gap: 3px;
  align-items: center;
  position: relative;
}

.navFlexLiked > span {
  position: absolute;
  top: -9px; 
  right: -12px; 
  background-color: rgb(255, 0, 0);
  border-radius: 50%; 
  padding: 1px 5px;
}


.navFlex > span::before {
  content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: #8BA6B1;
    transition: width 0.5s ease;
}

.navFlex > span:hover::before {
  width: 100%;
}

.shoppingCartParent {
  cursor: pointer;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.shoppingCartParent > span {
  /* color: #acacac; */
/* color: rgb(255, 217, 3); */
color: #FFFFFF;
position: absolute;
  top: 9px; 
  right: 8px; 
  background-color: rgb(255, 0, 0);
  border-radius: 50%; 
  padding: 1px 5px;
}
