@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

.best-selling-section-header {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 700;
  margin: 3rem 0 2rem 1rem;
  /* overflow-x: hidden; */
}

.bestSelling-holdingDiv {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 6px;
  height: 22rem;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); */
  margin: 0 0.5rem;
  /* overflow: hidden; */
}

.bestSelling-info-rating-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bestSelling-info-rating-price > h4 {
  font-size: 14px;
  font-weight: 500;
}

.bestSelling-info-rating-price > span {
  font-size: 14px;
  font-weight: 400;
}

.bs-span-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bs-span-btn > span {
  font-size: 14px;
  font-weight: 500;
}

.bs-span-btn > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 5px 3px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(90deg, #0b3e27, #197149);
  color: #FFFFFF;
  font-size: 12px;
  /* color: #f5f5f7; */
  /* background-color: #353433; */
}

.bs-span-btn > button:hover {
  background: linear-gradient(90deg, #115a39, #218a5b);;
  transition: background 0.2s ease-in-out;
}

.bestSelling-ImageParent {
  margin: 0 auto;
  width: 80px;
  height: 35vh;
}

.bestSelling-ImageParent > img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}
