@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

.coll-prod-parent {
    font-family: "Roboto Condensed", sans-serif;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  /* background-color: red; */
}

.coll-prod-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20vh;
}

.coll-prod-img > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.coll-prod-price-star-parent {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.coll-prod-parent > button {
    /* font-weight: 500; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  width: 80px;
  border: 0.5 solid white;
  border-radius: 10px;
}

.coll-prod-info {
  font-size: 14px;
  font-weight: 400;
}
