@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.section-heading {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 700;
  margin: 3rem 0 2rem 1rem;
}

.coll-prod-parent {
  background: linear-gradient(150deg, rgb(47, 112, 47), rgb(130, 212, 130));
  /* background: linear-gradient(90deg, #0b3e27, #197149); */
  /* color: #ffffff; */
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "Manrope", sans-serif;
  /* font-family: "Noto Serif KR", serif; */

  /* background-color: #ecebeb; */
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #9c9c9a;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 150px;
}

.coll-prod-img {
  /* border-radius: 10px; */
  margin: 0 auto;
  /* object-fit: cover; */
  width: 130px;
  height: 130px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.coll-prod-img > img {
  /* object-fit: contain; */
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
}

.coll-prod-price-star-parent {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
}

.coll-prod-parent > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 60px;
  /* border: 0.5 white; */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #121212;
  background-color: #8ba6b1;
  /* color: #f5f5f7; */
  /* background-color: #353433; */
}

.coll-prod-parent > button:hover {
  background-color: #79949f;
  transition: background-color 0.5s ease;
}

.coll-prod-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coll-prod-info > h4 {
  font-size: 13px;
  font-weight: 500;
}

.coll-prod-info > span {
  font-size: 13px;
}

.coll-Prod-flex {
  /* background-color: rgb(63 101 115 / 1), rgb(139 166 177 / 1); */
  /* background: url('https://images.pexels.com/photos/1697214/pexels-photo-1697214.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover;
  background-position: center;
  width: 100%; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 10px;
}

@media screen and (max-width: 1024px) {
  .coll-Prod-flex {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 800px) {
  .coll-Prod-flex {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .coll-Prod-flex {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
