@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.adsParent {
  display: flex;
  justify-content: space-between;
  padding: 8px 1rem;
  background-color: #232f3e;
  font-family: "Manrope", sans-serif;
}

.adsParent > div {
  background-color: #232f3e;
  color: #ffffff;
}

.ads {
  display: flex;
  gap: 10px;
}

.ads > span {
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  background-color: #232f3e;
}

.ads > span:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
