.carouselParent {
  width: 50%;
  height: 70vh;
  margin: 0 22px;
}

.slideImagesParent {
  height: 70vh;
  width: 100%;
  background-color: green;
}

.slideImges {
  display: block;
  width: 100%;
  height: 100%;
}

.overallH {
  display: flex;
}

.main-content-opposite-side {
  display: flex;
  gap: 15px;
   background-color: brown;
  padding: 10px;
}

.alternate-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

/* .alternate-content > h3, h4, p {
  background-color: red;
} */

.image-container {
  width: 90px;
  height: 20vh;
}

.image-container > img {
  width: 100%;
  height: 100%;
}

/* .slick-arrow {
  font-size: 24px; /
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: black;
  color: blue;
}

.slick-prev {
  left: 10px; 
}

.slick-next {
  right: 10px; 
} */
